<!DOCTYPE html>
<html>
<head>
  <title>WRStore</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <link rel="stylesheet" href="Style.css">
</head>
<body>
  <div id="app" class="container mx-auto p-4">
    <nav class="flex items-center justify-center h-16 bg-blue-800 text-white" aria-label="Global">
      <div class="flex w-full max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="flex items-center justify-center w-full">
          <div class="flex items-center">
            <div class="ml-4 text-xl font-medium leading-5 text-white">
                WRStore
            </div>
            <div class="flex-shrink-0">
              <img class="h-8 w-8" src="logoProjectZomboid.png" alt="Logo">
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="grid grid-cols-2 gap-4 mb-4">
      <div>
        <label for="nota" class="block text-gray-700 font-bold mb-2">No. Nota :</label>
        <input type="text" id="nota" v-model="nota" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>
      <div class="text-red-500 font-bold text-right">
        Total Pembayaran: <br>
        Rp. {{ totalPembayaran.toLocaleString() }}.00
      </div>
      <div>
        <label for="pelanggan" class="block text-gray-700 font-bold mb-2">Pelanggan :</label>
        <input type="text" id="pelanggan" v-model="pelanggan" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>
    </div>
    

    <div class="flex items-center mb-4">
      <label for="tanggal" class="block text-gray-700 font-bold mr-2">Tanggal:</label>
      <input type="date" id="tanggal" v-model="tanggal" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      <svg class="w-6 h-6 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path></svg>
    </div>

    <div class="flex justify-between items-center mb-4">
      <div class="flex items-center">
        <label for="kodeBarang" class="block text-gray-700 font-bold mr-2">Kode Barang :</label>
        <select id="kodeBarang" v-model="selectedKodeBarang" class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          <option v-for="barang in barangList" :key="barang.kode" :value="barang.kode">{{ barang.kode }}</option>
        </select>
      </div>
      <div class="flex-grow ml-4">
        <label for="namaBarang" class="block text-gray-700 font-bold mb-2">Nama Barang :</label>
        <input type="text" id="namaBarang" v-model="namaBarang" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>
      <div class="ml-4">
        <label for="jumlah" class="block text-gray-700 font-bold mb-2">Jumlah :</label>
        <input type="number" id="jumlah" v-model.number="jumlah" min="1" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>
    </div>
    
    <table class="w-full text-left mb-4">
        <thead>
            <tr>
                <th class="px-4 py-2">#</th>
                <th class="px-4 py-2">Kode Barang</th>
                <th class="px-4 py-2">Nama Barang</th>
                <th class="px-4 py-2">Harga</th>
                <th class="px-4 py-2">Jumlah</th>
                <th class="px-4 py-2">Total</th>
                <th class="px-4 py-2">Aksi</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(barang, index) in cart" :key="index">
                <td class="border px-4 py-2">{{ index + 1 }}</td>
                <td class="border px-4 py-2">{{ barang.kode }}</td>
                <td class="border px-4 py-2">{{ barang.nama }}</td>
          <td class="border px-4 py-2">Rp. {{ barang.harga.toLocaleString() }}</td>
          <td class="border px-4 py-2">{{ barang.jumlah }}</td>
          <td class="border px-4 py-2">Rp. {{ barang.total.toLocaleString() }}</td>
          <td class="border px-4 py-2">
              <button @click="removeBarang(index)" class="bg-red-500 text-white font-bold py-2 px-4 rounded hover:bg-red-700">Hapus</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="grid grid-cols-2 gap-4 mb-4">
    <div>
      <label for="subtotal" class="block text-gray-700 font-bold mb-2">Sub Total:</label>
      <input type="text" id="subtotal" v-model="subTotal" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" disabled>
    </div>
    <div>
      <label for="diskon" class="block text-gray-700 font-bold mb-2">Diskon:</label>
      <input type="number" id="diskon" v-model.number="diskon" min="0" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>
    <div>
      <label for="totalHarga" class="block text-gray-700 font-bold mb-2">Total Harga:</label>
      <input type="text" id="totalHarga" v-model="totalHarga" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" disabled>
    </div>
    <div>
      <label for="bayar" class="block text-gray-700 font-bold mb-2">Bayar:</label>
      <input type="number" id="bayar" v-model.number="bayar" min="0" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>
    <div>
      <label for="kembalian" class="block text-gray-700 font-bold mb-2">Kembalian:</label>
      <input type="text" id="kembalian" v-model="kembalian" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" disabled>
    </div>
</div>

<div class="text-right">
    <button @click="submit" :disabled="totalPembayaran <= 0" class="bg-green-500 text-white font-bold py-2 px-4 rounded hover:bg-green-700">Submit</button>
    </div>
    <button @click="addBarang" class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-black">Tambah Barang</button>
    </div>
</div>
<script>
    new Vue({
      el: '#app',
      data: {
        nota: '',
        pelanggan: '',
        tanggal: '',
        barangList: [
          { kode: 'B001', nama: 'Ciki', harga: 5000 },
          { kode: 'B002', nama: 'Pocari', harga: 7000 },
          { kode: 'B003', nama: 'Onigiri', harga: 9000 },
          { kode: 'B004', nama: 'Nasi Ayam', harga: 10000},
          { kode: 'B005', nama: 'Nasi Goreng', harga: 12000},
          { kode: 'B006', nama: 'Ayam Bakar', harga: 16000}
        ],
        selectedKodeBarang: '',
        namaBarang: '',
        jumlah: 1,
        cart: [],
        diskon: 0,
        bayar: 0
      },
      computed: {
        subTotal() {
          return this.cart.reduce((acc, cur) => acc + cur.total, 0);
        },
        totalHarga() {
          return this.subTotal - this.diskon;
        },
        kembalian() {
          return this.bayar - this.totalHarga;
        },
        totalPembayaran() {
            return this.cart.reduce((acc, cur) => acc + cur.total, 0);
             }
            },
      methods: {
        addBarang() {
            const barang = this.barangList.find(b => b.kode === this.selectedKodeBarang);
            if (barang) {
            const existingItem = this.cart.find(item => item.kode === barang.kode);
            if (existingItem) {
            existingItem.jumlah += this.jumlah;
            existingItem.total = existingItem.harga * existingItem.jumlah;
                } else {
                this.cart.push({
                    kode: barang.kode,
                    nama: barang.nama,
                    harga: barang.harga,
                    jumlah: this.jumlah,
                    total: barang.harga * this.jumlah
                });
            }
            this.selectedKodeBarang = '';
             this.jumlah = 1;
            }
        },
        removeBarang(index) {
          this.cart.splice(index, 1);
        },
        submit() {
          // Submit the order
          console.log('Submitting order:', this.cart);
        }
      }
    });
  </script>
</body>
</html>
